body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background-image: url('../images/colorNYC.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-position: center;
  opacity:0.7;
}
h1 {
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
header{
    background: #666666;
    text-align:center；
}
nav{
    font-variant:small-caps;
    font-size: 130%;
    font-family:Arial, Helvetica, sans-serif; 
}
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
  }
  footer{
    text-align:center;
    background:#666666;
    font-style: italic;
    font-size: small;
  }
  .closed{
    display: none;
  }
  .open{
    display:block;
  }
  div{
    background:white;
    margin-left: 10%;
    margin-right:10%;
    text-align: left;
    display:inline-flexbox;
    padding:10px;
  }
  